<div id="sidebar">
  <h2 class="widgettitle">Subscribe</h2>
  <div id="rss-feed" class="clear">
    <p><a href="http://feeds.feedburner.com/thecoffman" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/thecoffman" rel="alternate" type="application/rss+xml">Feed</a></p>
  </div>
  <ul class="thin-sidebar spad">
    <li id="linkcat-2" class="widget widget_links"><h2 class="widgettitle">Find Me</h2>
    <ul class="xoxo blogroll">
      <li><a href="http://facebook.com/adamcoffman">Facebook</a></li>
      <li><a href="http://www.flickr.com/photos/acoffman">Flickr</a></li>
      <li><a href="http://github.com/thecoffman">Github</a></li>
      <li><a href="http://news.ycombinator.com/user?id=thecoffman">Hacker News</a></li>
      <li><a href="http://www.linkedin.com/in/adamcoffman">LinkedIn</a></li>
      <li><a href="http://www.reddit.com/user/thecoffman/">Reddit</a></li>
      <li><a href="http://twitter.com/thecoffman">Twitter</a></li>
    </ul>
    </li>
  </ul>
</div>
