<div id="sidebar">
<h2 class="widgettitle">Find Me</h2>
 <a href="http://twitter.com/stillru"><img src="/images/twitter.png" alt="twitter-logo" title="twitter-logo" width="16" height="16"></a>
    <a href="http://github.com/stillru"><img src="/images/github.png" alt="github-logo" title="github-logo" width="16" height="16"></a>
    <a href="http://facebook.com/stillru"><img src="/images/facebook.png" alt="facebook-logo" title="facebook-logo" width="16" height="16"></a>
   <a href="http://www.flickr.com/photos/stillru"><img src="/images/flickr.png" alt="flickr-logo" title="flickr-logo" width="16" height="16"></a>
   <a href="http://www.juick.com/Still/"><img src="/images/juick.png" alt="juick-logo" title="juick-logo" width="16" height="16"></a>
   <a href="http://still-storm.ya.ru/"><img src="/images/ya.ru.png" alt="juick-logo" title="juick-logo" width="16" height="16"></a>
   <a href="http://ru.linkedin.com/in/steveillichevsky" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Steve Illichevsky's LinkedIn profile" style="vertical-align:middle" border="0"></span></a>
  <h2 class="widgettitle">Tags</h2>
    		<a href="/it">It Tag</a> <a href="/baby">Baby Tag</a> <a href="/live">Live Tag</a> <a href="/tips_n_tricks">Tip's n Tricks Tag</a>
<!-- Google Public Location Badge -->
<iframe src="http://www.google.com/latitude/apps/badge/api?user=-3241489500389707566&type=iframe&maptype=roadmap" width="300" height="300" frameborder="0"></iframe>
<!-- To disable location sharing, you *must* visit https://www.google.com/latitude/apps/badge and disable the Google Public Location badge. Removing this code snippet is not enough! -->
  </div>
