<div id="sidebar">
  <ul class="thin-sidebar spad">
    <li id="linkcat-2" class="widget widget_links"><h2 class="widgettitle">Find Me</h2>
    <ul class="xoxo blogroll">
      <li><a href="http://facebook.com/stillru">Facebook</a></li>
      <li><a href="http://www.flickr.com/photos/stillru">Flickr</a></li>
      <li><a href="http://github.com/stillru">Github</a></li>
      <li><a href="http://twitter.com/stillru">Twitter</a></li>
    </ul>
    </li>
  </ul>
  <h3>Tags</h3>
  <ul>
	<li><a href="/it>It Tag"</a></li>
	<li><a href="/baby>Baby Tag"</a></li>
	<li><a href="/live>Live Tag"</a></li>
	</ul>
</div>
