/* You can customize theme styles here */
.header .navbar-brand span:first-child{
  color: #ffa500;
}
.header .container{
    padding-left: 10px;
}

html body ::selection{
  background-color:#ffa500;
  color:#fff
}

.btn-primary{
  background-color:#ffa500;
}

.skill__title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    z-index: 2;
}