<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="still.ru" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Steve Illichevsky</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Steve Illichevsky<br />
        still.ru@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/stillru/">github.com/stillru</a><br />
        <a href="http://twitter.com/stillru/">twitter.com/stillru</a><br />
        <a href="http://flickr.com/photos/stillru/">flickr.com/photos/stillru</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/stillru">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/stillru"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>

